/***** Font Definition for Open Sans. This stylesheet comes from qrohlf.com/posts/better-opensans *****/
@font-face {
    font-family: 'SourceSansPro-Bold';
    src:  url('../font/HelveticaNeueLTStd-Bd_gdi.eot');
    src: url('../font/HelveticaNeueLTStd-Bd_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueLTStd-Bd_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Bd_gdi.ttf') format('truetype');
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SourceSansPro-Regular';
    src:  url('../font/HelveticaNeueLTStd-Roman_gdi.eot');
    src:  url('../font/HelveticaNeueLTStd-Roman_gdi.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-Roman_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Roman_gdi.eot?#iefix') format('embedded-opentype');
    
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src:  url('../font/HelveticaNeueLTStd-Lt_gdi.eot');
    src:  url('../font/HelveticaNeueLTStd-Lt_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueLTStd-Lt_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Lt_gdi.ttf') format('truetype');
    font-variant: normal;
    font-weight: 100;
    font-style: normal;
}  

@font-face {
    font-family: 'SourceSansPro-Thin';
      src:  url('../font/HelveticaNeueLTStd-Th_gdi.eot');
    src:  url('../font/HelveticaNeueLTStd-Th_gdi.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-Th_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Th_gdi.eot?#iefix') format('embedded-opentype');
  
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'SourceSansPro-Medium';
     src:  url('../font/HelveticaNeueLTStd-Md_gdi.eot');
    src:  url('../font/HelveticaNeueLTStd-Md_gdi.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-Md_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Md_gdi.eot?#iefix') format('embedded-opentype');
   
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'SourceSansPro-Ulight';
     src:  url('../font/HelveticaNeueLTStd-UltLt_gdi.eot');
    src:  url('../font/HelveticaNeueLTStd-UltLt_gdi.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-UltLt_gdi.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-UltLt_gdi.eot?#iefix') format('embedded-opentype');
   
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}  